<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogHeat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="button-container">
        <select id="dropdownMenu" onchange="updateComPort()">
            <!-- Options will be populated here -->
        </select>
        <button id="startButton" onclick="toggleState()">Start</button>
    </div>
    <div id="plot"></div>
</body>
</html>